In [2]:
# Dependencies
import pandas as pd
from pathlib import Path

In [5]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv("clean_fire.csv")
df.tail()

,LONGITUDE,LATITUDE,GLOBALID,FIRENAME,FIREYEAR,SECURITYID,DISCOVERYDATETIME,SIZECLASS,TOTALACRES,STATCAUSE,DATASOURCE,FIREOUTDATETIME,OWNERAGENCY,UNITIDOWNER,PROTECTIONAGENCY,POINTTYPE,PERIMEXISTS,FIRERPTQC,ACCURACY,SHAPE
15317,-123.586500,40.638167,{1E849B3F-0646-4C2B-AC08-7BA7B87D8CF5},3-9,2023.0,05,2023/08/16 09:22:13+00,F,2840.0,Other Natural Causes,00,NaN,USFS,CASRF,USFS,Ignition,Y,NaN,NaN,NaN
15318,-118.556667,35.578333,{427232AC-EE12-462A-8C46-21A66CD48F6E},BOREL,1996.0,NaN,1996/08/01 00:00:00+00,F,2650.0,Undetermined,00,NaN,USFS,NaN,NaN,Unknown,N,No,NaN,NaN
15319,-120.158889,36.138056,{9B2B0CA4-B0B0-4A33-958F-4E3BCF1081C0},GLEN,2006.0,NaN,2006/10/25 00:00:00+00,D,120.0,Undetermined,00,NaN,Private,NaN,NaN,Unknown,N,No,NaN,NaN
15320,-118.262311,37.181081,{6AFAF914-9E6F-41F2-8687-26891375AE31},BRIDGE,2002.0,NaN,2002/03/09 00:00:00+00,D,200.0,Undetermined,00,NaN,City,NaN,NaN,Unknown,N,No,NaN,NaN
15321,-121.378833,39.876000,{4BCBFB26-835E-4620-A4B4-0182BB41C5A3},DIXIE,2021.0,05,2021/07/14 00:15:02+00,K,963309.0,Undetermined,NaN,NaN,USFS,CAPNF,State,Ignition,Y,Yes,NaN,NaN

In [6]:
# Display an overview of the Employers column
df['SIZECLASS'].unique()

array(['D', 'F', 'H', 'E', 'G', 'I', 'C', 'J', 'K', 'B', 'A'],
      dtype=object)

In [7]:
fire_df = df.copy()

In [8]:
fire_df.tail()

,LONGITUDE,LATITUDE,GLOBALID,FIRENAME,FIREYEAR,SECURITYID,DISCOVERYDATETIME,SIZECLASS,TOTALACRES,STATCAUSE,DATASOURCE,FIREOUTDATETIME,OWNERAGENCY,UNITIDOWNER,PROTECTIONAGENCY,POINTTYPE,PERIMEXISTS,FIRERPTQC,ACCURACY,SHAPE
15317,-123.586500,40.638167,{1E849B3F-0646-4C2B-AC08-7BA7B87D8CF5},3-9,2023.0,05,2023/08/16 09:22:13+00,F,2840.0,Other Natural Causes,00,NaN,USFS,CASRF,USFS,Ignition,Y,NaN,NaN,NaN
15318,-118.556667,35.578333,{427232AC-EE12-462A-8C46-21A66CD48F6E},BOREL,1996.0,NaN,1996/08/01 00:00:00+00,F,2650.0,Undetermined,00,NaN,USFS,NaN,NaN,Unknown,N,No,NaN,NaN
15319,-120.158889,36.138056,{9B2B0CA4-B0B0-4A33-958F-4E3BCF1081C0},GLEN,2006.0,NaN,2006/10/25 00:00:00+00,D,120.0,Undetermined,00,NaN,Private,NaN,NaN,Unknown,N,No,NaN,NaN
15320,-118.262311,37.181081,{6AFAF914-9E6F-41F2-8687-26891375AE31},BRIDGE,2002.0,NaN,2002/03/09 00:00:00+00,D,200.0,Undetermined,00,NaN,City,NaN,NaN,Unknown,N,No,NaN,NaN
15321,-121.378833,39.876000,{4BCBFB26-835E-4620-A4B4-0182BB41C5A3},DIXIE,2021.0,05,2021/07/14 00:15:02+00,K,963309.0,Undetermined,NaN,NaN,USFS,CAPNF,State,Ignition,Y,Yes,NaN,NaN

In [10]:
fire_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15322 entries, 0 to 15321
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LONGITUDE          15321 non-null  float64
 1   LATITUDE           15321 non-null  float64
 2   GLOBALID           14207 non-null  object
 3   FIRENAME           14718 non-null  object
 4   FIREYEAR           15322 non-null  float64
 5   SECURITYID         7543 non-null   object
 6   DISCOVERYDATETIME  13854 non-null  object
 7   SIZECLASS          15322 non-null  object
 8   TOTALACRES         15322 non-null  float64
 9   STATCAUSE          15292 non-null  object
 10  DATASOURCE         15094 non-null  object
 11  FIREOUTDATETIME    5583 non-null   object
 12  OWNERAGENCY        14406 non-null  object
 13  UNITIDOWNER        6720 non-null   object
 14  PROTECTIONAGENCY   8914 non-null   object
 15  POINTTYPE          15303 non-null  object
 16  PERIMEXISTS        15320 non-null  object
 17  FIRERPTQC          13407 non-null  object
 18  ACCURACY           1062 non-null   float64
 19  SHAPE              0 non-null      float64
dtypes: float64(6), object(14)
memory usage: 2.3+ MB

In [11]:
fire_df['DISCOVERYDATETIME'] = pd.to_datetime(fire_df['DISCOVERYDATETIME'])

In [18]:
fire_df.head()

,LONGITUDE,LATITUDE,GLOBALID,FIRENAME,FIREYEAR,SECURITYID,DISCOVERYDATETIME,SIZECLASS,TOTALACRES,STATCAUSE,DATASOURCE,FIREOUTDATETIME,OWNERAGENCY,UNITIDOWNER,PROTECTIONAGENCY,POINTTYPE,PERIMEXISTS,FIRERPTQC,ACCURACY,SHAPE
0,-107.616389,40.133056,{F905659B-32E6-4571-9E67-E59E355602F5},Milk Creek,2013.0,0215,2013-07-04 00:00:01+00:00,D,112.0,Lightning,24,2013-09-04 13:00:01+00:00,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN
1,-107.562222,39.759722,{2A5831B5-A7EF-435D-A9D8-ECF4772B45F6},Meadow Creek,2010.0,0215,2010-06-28 00:00:01+00:00,F,1462.0,Lightning,24,2010-11-01 17:00:01+00:00,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN
2,-106.221111,39.811111,{0B8060F0-22F6-4A41-88E5-C1E7E9D23AE3},Brush Creek,2015.0,0215,2015-10-02 00:00:01+00:00,D,234.0,Lightning,24,2015-11-17 09:00:01+00:00,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN
3,-107.118333,39.950000,{041F5782-6839-4EFE-8824-79B883394529},Middle Derby,1999.0,0215,1999-11-15 00:00:01+00:00,D,265.0,Undetermined,24,1999-12-07 10:00:01+00:00,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN
4,-106.533056,38.138889,{28674346-7F82-447D-93E0-302D6AD99C52},BENNY'S CREEK WFU,2005.0,0209,2005-07-18 00:00:00+00:00,D,135.0,Lightning,46,2005-11-28 00:00:00+00:00,USFS,CORGF,USFS,General,Y,NaN,NaN,NaN

In [13]:
fire_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15322 entries, 0 to 15321
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LONGITUDE          15321 non-null  float64
 1   LATITUDE           15321 non-null  float64
 2   GLOBALID           14207 non-null  object
 3   FIRENAME           14718 non-null  object
 4   FIREYEAR           15322 non-null  float64
 5   SECURITYID         7543 non-null   object
 6   DISCOVERYDATETIME  13854 non-null  datetime64[ns, UTC]
 7   SIZECLASS          15322 non-null  object
 8   TOTALACRES         15322 non-null  float64
 9   STATCAUSE          15292 non-null  object
 10  DATASOURCE         15094 non-null  object
 11  FIREOUTDATETIME    5583 non-null   object
 12  OWNERAGENCY        14406 non-null  object
 13  UNITIDOWNER        6720 non-null   object
 14  PROTECTIONAGENCY   8914 non-null   object
 15  POINTTYPE          15303 non-null  object
 16  PERIMEXISTS        15320 non-null  object
 17  FIRERPTQC          13407 non-null  object
 18  ACCURACY           1062 non-null   float64
 19  SHAPE              0 non-null      float64
dtypes: datetime64[ns, UTC](1), float64(6), object(13)
memory usage: 2.3+ MB

In [14]:
fire_df['FIREOUTDATETIME'] = pd.to_datetime(fire_df['FIREOUTDATETIME'])

In [17]:
print(fire_df['DISCOVERYDATETIME'].dtype)

datetime64[ns, UTC]

In [24]:
fire_df['DISCOVERYDATETIME'] = fire_df['DISCOVERYDATETIME'].dt.tz_localize(None)

In [22]:
fire_df['MONTH_NAME'] = fire_df['DISCOVERYDATETIME'].dt.strftime('%B')

In [25]:
fire_df.head()

,LONGITUDE,LATITUDE,GLOBALID,FIRENAME,FIREYEAR,SECURITYID,DISCOVERYDATETIME,SIZECLASS,TOTALACRES,STATCAUSE,...,FIREOUTDATETIME,OWNERAGENCY,UNITIDOWNER,PROTECTIONAGENCY,POINTTYPE,PERIMEXISTS,FIRERPTQC,ACCURACY,SHAPE,MONTH_NAME
0,-107.616389,40.133056,{F905659B-32E6-4571-9E67-E59E355602F5},Milk Creek,2013.0,0215,2013-07-04 00:00:01,D,112.0,Lightning,...,2013-09-04 13:00:01+00:00,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN,July
1,-107.562222,39.759722,{2A5831B5-A7EF-435D-A9D8-ECF4772B45F6},Meadow Creek,2010.0,0215,2010-06-28 00:00:01,F,1462.0,Lightning,...,2010-11-01 17:00:01+00:00,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN,June
2,-106.221111,39.811111,{0B8060F0-22F6-4A41-88E5-C1E7E9D23AE3},Brush Creek,2015.0,0215,2015-10-02 00:00:01,D,234.0,Lightning,...,2015-11-17 09:00:01+00:00,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN,October
3,-107.118333,39.950000,{041F5782-6839-4EFE-8824-79B883394529},Middle Derby,1999.0,0215,1999-11-15 00:00:01,D,265.0,Undetermined,...,1999-12-07 10:00:01+00:00,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN,November
4,-106.533056,38.138889,{28674346-7F82-447D-93E0-302D6AD99C52},BENNY'S CREEK WFU,2005.0,0209,2005-07-18 00:00:00,D,135.0,Lightning,...,2005-11-28 00:00:00+00:00,USFS,CORGF,USFS,General,Y,NaN,NaN,NaN,July

In [26]:
fire_df['DISCOVERYDATETIME'] = fire_df['DISCOVERYDATETIME'].dt.date

In [27]:
fire_df.tail()

,LONGITUDE,LATITUDE,GLOBALID,FIRENAME,FIREYEAR,SECURITYID,DISCOVERYDATETIME,SIZECLASS,TOTALACRES,STATCAUSE,...,FIREOUTDATETIME,OWNERAGENCY,UNITIDOWNER,PROTECTIONAGENCY,POINTTYPE,PERIMEXISTS,FIRERPTQC,ACCURACY,SHAPE,MONTH_NAME
15317,-123.586500,40.638167,{1E849B3F-0646-4C2B-AC08-7BA7B87D8CF5},3-9,2023.0,05,2023-08-16,F,2840.0,Other Natural Causes,...,NaT,USFS,CASRF,USFS,Ignition,Y,NaN,NaN,NaN,August
15318,-118.556667,35.578333,{427232AC-EE12-462A-8C46-21A66CD48F6E},BOREL,1996.0,NaN,1996-08-01,F,2650.0,Undetermined,...,NaT,USFS,NaN,NaN,Unknown,N,No,NaN,NaN,August
15319,-120.158889,36.138056,{9B2B0CA4-B0B0-4A33-958F-4E3BCF1081C0},GLEN,2006.0,NaN,2006-10-25,D,120.0,Undetermined,...,NaT,Private,NaN,NaN,Unknown,N,No,NaN,NaN,October
15320,-118.262311,37.181081,{6AFAF914-9E6F-41F2-8687-26891375AE31},BRIDGE,2002.0,NaN,2002-03-09,D,200.0,Undetermined,...,NaT,City,NaN,NaN,Unknown,N,No,NaN,NaN,March
15321,-121.378833,39.876000,{4BCBFB26-835E-4620-A4B4-0182BB41C5A3},DIXIE,2021.0,05,2021-07-14,K,963309.0,Undetermined,...,NaT,USFS,CAPNF,State,Ignition,Y,Yes,NaN,NaN,July

In [28]:
fire_df['FIREOUTDATETIME'] = fire_df['FIREOUTDATETIME'].dt.date

In [29]:
fire_df.head()

,LONGITUDE,LATITUDE,GLOBALID,FIRENAME,FIREYEAR,SECURITYID,DISCOVERYDATETIME,SIZECLASS,TOTALACRES,STATCAUSE,...,FIREOUTDATETIME,OWNERAGENCY,UNITIDOWNER,PROTECTIONAGENCY,POINTTYPE,PERIMEXISTS,FIRERPTQC,ACCURACY,SHAPE,MONTH_NAME
0,-107.616389,40.133056,{F905659B-32E6-4571-9E67-E59E355602F5},Milk Creek,2013.0,0215,2013-07-04,D,112.0,Lightning,...,2013-09-04,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN,July
1,-107.562222,39.759722,{2A5831B5-A7EF-435D-A9D8-ECF4772B45F6},Meadow Creek,2010.0,0215,2010-06-28,F,1462.0,Lightning,...,2010-11-01,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN,June
2,-106.221111,39.811111,{0B8060F0-22F6-4A41-88E5-C1E7E9D23AE3},Brush Creek,2015.0,0215,2015-10-02,D,234.0,Lightning,...,2015-11-17,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN,October
3,-107.118333,39.950000,{041F5782-6839-4EFE-8824-79B883394529},Middle Derby,1999.0,0215,1999-11-15,D,265.0,Undetermined,...,1999-12-07,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN,November
4,-106.533056,38.138889,{28674346-7F82-447D-93E0-302D6AD99C52},BENNY'S CREEK WFU,2005.0,0209,2005-07-18,D,135.0,Lightning,...,2005-11-28,USFS,CORGF,USFS,General,Y,NaN,NaN,NaN,July

In [30]:
fire_df.rename(columns={'DISCOVERYDATETIME': 'DISCOVERY_DATE', 'FIREOUTDATETIME': 'FIREOUT_DATE'}, inplace=True)

In [31]:
fire_df.head()

,LONGITUDE,LATITUDE,GLOBALID,FIRENAME,FIREYEAR,SECURITYID,DISCOVERY_DATE,SIZECLASS,TOTALACRES,STATCAUSE,...,FIREOUT_DATE,OWNERAGENCY,UNITIDOWNER,PROTECTIONAGENCY,POINTTYPE,PERIMEXISTS,FIRERPTQC,ACCURACY,SHAPE,MONTH_NAME
0,-107.616389,40.133056,{F905659B-32E6-4571-9E67-E59E355602F5},Milk Creek,2013.0,0215,2013-07-04,D,112.0,Lightning,...,2013-09-04,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN,July
1,-107.562222,39.759722,{2A5831B5-A7EF-435D-A9D8-ECF4772B45F6},Meadow Creek,2010.0,0215,2010-06-28,F,1462.0,Lightning,...,2010-11-01,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN,June
2,-106.221111,39.811111,{0B8060F0-22F6-4A41-88E5-C1E7E9D23AE3},Brush Creek,2015.0,0215,2015-10-02,D,234.0,Lightning,...,2015-11-17,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN,October
3,-107.118333,39.950000,{041F5782-6839-4EFE-8824-79B883394529},Middle Derby,1999.0,0215,1999-11-15,D,265.0,Undetermined,...,1999-12-07,USFS,COWRF,USFS,General,Y,Yes,24000.0,NaN,November
4,-106.533056,38.138889,{28674346-7F82-447D-93E0-302D6AD99C52},BENNY'S CREEK WFU,2005.0,0209,2005-07-18,D,135.0,Lightning,...,2005-11-28,USFS,CORGF,USFS,General,Y,NaN,NaN,NaN,July

In [32]:
print(fire_df.columns)

Index(['LONGITUDE', 'LATITUDE', 'GLOBALID', 'FIRENAME', 'FIREYEAR',
       'SECURITYID', 'DISCOVERY_DATE', 'SIZECLASS', 'TOTALACRES', 'STATCAUSE',
       'DATASOURCE', 'FIREOUT_DATE', 'OWNERAGENCY', 'UNITIDOWNER',
       'PROTECTIONAGENCY', 'POINTTYPE', 'PERIMEXISTS', 'FIRERPTQC', 'ACCURACY',
       'SHAPE', 'MONTH_NAME'],
      dtype='object')

In [33]:
fire_df_ready = fire_df[['GLOBALID', 'FIRENAME','FIREYEAR','STATCAUSE','TOTALACRES','LATITUDE','LONGITUDE',
       'DISCOVERY_DATE','FIREOUT_DATE','MONTH_NAME']]

In [34]:
fire_df_ready.head()

,GLOBALID,FIRENAME,FIREYEAR,STATCAUSE,TOTALACRES,LATITUDE,LONGITUDE,DISCOVERY_DATE,FIREOUT_DATE,MONTH_NAME
0,{F905659B-32E6-4571-9E67-E59E355602F5},Milk Creek,2013.0,Lightning,112.0,40.133056,-107.616389,2013-07-04,2013-09-04,July
1,{2A5831B5-A7EF-435D-A9D8-ECF4772B45F6},Meadow Creek,2010.0,Lightning,1462.0,39.759722,-107.562222,2010-06-28,2010-11-01,June
2,{0B8060F0-22F6-4A41-88E5-C1E7E9D23AE3},Brush Creek,2015.0,Lightning,234.0,39.811111,-106.221111,2015-10-02,2015-11-17,October
3,{041F5782-6839-4EFE-8824-79B883394529},Middle Derby,1999.0,Undetermined,265.0,39.950000,-107.118333,1999-11-15,1999-12-07,November
4,{28674346-7F82-447D-93E0-302D6AD99C52},BENNY'S CREEK WFU,2005.0,Lightning,135.0,38.138889,-106.533056,2005-07-18,2005-11-28,July

In [35]:
fire_df_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15322 entries, 0 to 15321
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GLOBALID        14207 non-null  object
 1   FIRENAME        14718 non-null  object
 2   FIREYEAR        15322 non-null  float64
 3   STATCAUSE       15292 non-null  object
 4   TOTALACRES      15322 non-null  float64
 5   LATITUDE        15321 non-null  float64
 6   LONGITUDE       15321 non-null  float64
 7   DISCOVERY_DATE  13854 non-null  object
 8   FIREOUT_DATE    5583 non-null   object
 9   MONTH_NAME      13854 non-null  object
dtypes: float64(4), object(6)
memory usage: 1.2+ MB

In [36]:
fire_df_ready["STATCAUSE"].unique()

array(['Lightning', 'Undetermined', 'Debris Burning', 'Camping', nan,
       'Smoking', 'Equipment', 'Other Human Causes', 'Railroad',
       'Miscellaneous', 'Other Natural Causes', 'Firearms', 'Incendiary',
       'Arson', 'Utilities'], dtype=object)

In [38]:
fire_df_ready.loc[:, 'STATCAUSE'] = fire_df_ready['STATCAUSE'].fillna('Undetermined')

In [39]:
fire_df_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15322 entries, 0 to 15321
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GLOBALID        14207 non-null  object
 1   FIRENAME        14718 non-null  object
 2   FIREYEAR        15322 non-null  float64
 3   STATCAUSE       15322 non-null  object
 4   TOTALACRES      15322 non-null  float64
 5   LATITUDE        15321 non-null  float64
 6   LONGITUDE       15321 non-null  float64
 7   DISCOVERY_DATE  13854 non-null  object
 8   FIREOUT_DATE    5583 non-null   object
 9   MONTH_NAME      13854 non-null  object
dtypes: float64(4), object(6)
memory usage: 1.2+ MB

In [44]:
fire_df_ready.loc[:, 'DISCOVERY_DATE'] = pd.to_datetime(fire_df_ready['DISCOVERY_DATE'], errors='coerce')
fire_df_ready.loc[:, 'FIREOUT_DATE'] = pd.to_datetime(fire_df_ready['FIREOUT_DATE'], errors='coerce')

In [45]:
fire_df_ready.loc[:, 'DISCOVERY_DATE'] = fire_df_ready['DISCOVERY_DATE'].dt.date
fire_df_ready.loc[:, 'FIREOUT_DATE'] = fire_df_ready['FIREOUT_DATE'].dt.date

In [47]:
fire_df_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15322 entries, 0 to 15321
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GLOBALID        14207 non-null  object
 1   FIRENAME        14718 non-null  object
 2   FIREYEAR        15322 non-null  float64
 3   STATCAUSE       15322 non-null  object
 4   TOTALACRES      15322 non-null  float64
 5   LATITUDE        15321 non-null  float64
 6   LONGITUDE       15321 non-null  float64
 7   DISCOVERY_DATE  13854 non-null  datetime64[ns]
 8   FIREOUT_DATE    5583 non-null   datetime64[ns]
 9   MONTH_NAME      13854 non-null  object
dtypes: datetime64[ns](2), float64(4), object(4)
memory usage: 1.2+ MB

In [50]:
fire_df_ready.loc[:,'MONTH_NUMBER'] = fire_df_ready['DISCOVERY_DATE'].dt.month

In [51]:
fire_df_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15322 entries, 0 to 15321
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GLOBALID        14207 non-null  object
 1   FIRENAME        14718 non-null  object
 2   FIREYEAR        15322 non-null  float64
 3   STATCAUSE       15322 non-null  object
 4   TOTALACRES      15322 non-null  float64
 5   LATITUDE        15321 non-null  float64
 6   LONGITUDE       15321 non-null  float64
 7   DISCOVERY_DATE  13854 non-null  datetime64[ns]
 8   FIREOUT_DATE    5583 non-null   datetime64[ns]
 9   MONTH_NAME      13854 non-null  object
 10  MONTH_NUMBER    13854 non-null  float64
dtypes: datetime64[ns](2), float64(5), object(4)
memory usage: 1.3+ MB

In [52]:
print(fire_df_ready.columns)

Index(['GLOBALID', 'FIRENAME', 'FIREYEAR', 'STATCAUSE', 'TOTALACRES',
       'LATITUDE', 'LONGITUDE', 'DISCOVERY_DATE', 'FIREOUT_DATE', 'MONTH_NAME',
       'MONTH_NUMBER'],
      dtype='object')

In [53]:
fire_df_final = fire_df_ready[['GLOBALID', 'FIRENAME', 'FIREYEAR', 'STATCAUSE', 'TOTALACRES',
       'LATITUDE', 'LONGITUDE', 'DISCOVERY_DATE', 'FIREOUT_DATE', 'MONTH_NUMBER','MONTH_NAME'
       ]]

In [54]:
fire_df_final.head()

,GLOBALID,FIRENAME,FIREYEAR,STATCAUSE,TOTALACRES,LATITUDE,LONGITUDE,DISCOVERY_DATE,FIREOUT_DATE,MONTH_NUMBER,MONTH_NAME
0,{F905659B-32E6-4571-9E67-E59E355602F5},Milk Creek,2013.0,Lightning,112.0,40.133056,-107.616389,2013-07-04,2013-09-04,7.0,July
1,{2A5831B5-A7EF-435D-A9D8-ECF4772B45F6},Meadow Creek,2010.0,Lightning,1462.0,39.759722,-107.562222,2010-06-28,2010-11-01,6.0,June
2,{0B8060F0-22F6-4A41-88E5-C1E7E9D23AE3},Brush Creek,2015.0,Lightning,234.0,39.811111,-106.221111,2015-10-02,2015-11-17,10.0,October
3,{041F5782-6839-4EFE-8824-79B883394529},Middle Derby,1999.0,Undetermined,265.0,39.950000,-107.118333,1999-11-15,1999-12-07,11.0,November
4,{28674346-7F82-447D-93E0-302D6AD99C52},BENNY'S CREEK WFU,2005.0,Lightning,135.0,38.138889,-106.533056,2005-07-18,2005-11-28,7.0,July

In [56]:
fire_df_final.loc[:, 'DECADE'] = fire_df_final['FIREYEAR'].astype(int).astype(str).str[:3] + "0s"

In [57]:
fire_df_final.head()

,GLOBALID,FIRENAME,FIREYEAR,STATCAUSE,TOTALACRES,LATITUDE,LONGITUDE,DISCOVERY_DATE,FIREOUT_DATE,MONTH_NUMBER,MONTH_NAME,DECADE
0,{F905659B-32E6-4571-9E67-E59E355602F5},Milk Creek,2013.0,Lightning,112.0,40.133056,-107.616389,2013-07-04,2013-09-04,7.0,July,2010s
1,{2A5831B5-A7EF-435D-A9D8-ECF4772B45F6},Meadow Creek,2010.0,Lightning,1462.0,39.759722,-107.562222,2010-06-28,2010-11-01,6.0,June,2010s
2,{0B8060F0-22F6-4A41-88E5-C1E7E9D23AE3},Brush Creek,2015.0,Lightning,234.0,39.811111,-106.221111,2015-10-02,2015-11-17,10.0,October,2010s
3,{041F5782-6839-4EFE-8824-79B883394529},Middle Derby,1999.0,Undetermined,265.0,39.950000,-107.118333,1999-11-15,1999-12-07,11.0,November,1990s
4,{28674346-7F82-447D-93E0-302D6AD99C52},BENNY'S CREEK WFU,2005.0,Lightning,135.0,38.138889,-106.533056,2005-07-18,2005-11-28,7.0,July,2000s

In [63]:
# Define size class bins and labels
bins = [100, 299.99, 999.99, 4999.99, 9999.99, 49999.99, 99999.99, 499999.99, 999999.99, float('inf')]
labels = [
    'Class D',  # 100 - 299.99 acres
    'Class E',  # 300 - 999.99 acres
    'Class F',  # 1000 - 4999.99 acres
    'Class G',  # 5000 - 9999.99 acres
    'Class H',  # 10,000 - 49999.99 acres
    'Class I',  # 50,000 - 99999.99 acres
    'Class J',  # 100,000 - 499999.99 acres
    'Class K',  # 500,000 - 999999.99 acres
    'Class L'   # 1,000,000+ acres
]

# Apply pd.cut() to create the new column
fire_df_ready.loc[:, 'SIZE_CLASS'] = pd.cut(fire_df_ready['TOTALACRES'], bins=bins, labels=labels, right=True)

In [64]:
fire_df_ready.head()

,GLOBALID,FIRENAME,FIREYEAR,STATCAUSE,TOTALACRES,LATITUDE,LONGITUDE,DISCOVERY_DATE,FIREOUT_DATE,MONTH_NAME,MONTH_NUMBER,DECADE,SIZE_CLASS
0,{F905659B-32E6-4571-9E67-E59E355602F5},Milk Creek,2013.0,Lightning,112.0,40.133056,-107.616389,2013-07-04,2013-09-04,July,7.0,2010s,Class D
1,{2A5831B5-A7EF-435D-A9D8-ECF4772B45F6},Meadow Creek,2010.0,Lightning,1462.0,39.759722,-107.562222,2010-06-28,2010-11-01,June,6.0,2010s,Class F
2,{0B8060F0-22F6-4A41-88E5-C1E7E9D23AE3},Brush Creek,2015.0,Lightning,234.0,39.811111,-106.221111,2015-10-02,2015-11-17,October,10.0,2010s,Class D
3,{041F5782-6839-4EFE-8824-79B883394529},Middle Derby,1999.0,Undetermined,265.0,39.950000,-107.118333,1999-11-15,1999-12-07,November,11.0,1990s,Class D
4,{28674346-7F82-447D-93E0-302D6AD99C52},BENNY'S CREEK WFU,2005.0,Lightning,135.0,38.138889,-106.533056,2005-07-18,2005-11-28,July,7.0,2000s,Class D

In [66]:
fire_df_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15322 entries, 0 to 15321
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GLOBALID        14207 non-null  object
 1   FIRENAME        14718 non-null  object
 2   FIREYEAR        15322 non-null  float64
 3   STATCAUSE       15322 non-null  object
 4   TOTALACRES      15322 non-null  float64
 5   LATITUDE        15321 non-null  float64
 6   LONGITUDE       15321 non-null  float64
 7   DISCOVERY_DATE  13854 non-null  datetime64[ns]
 8   FIREOUT_DATE    5583 non-null   datetime64[ns]
 9   MONTH_NAME      13854 non-null  object
 10  MONTH_NUMBER    13854 non-null  float64
 11  DECADE          15322 non-null  object
 12  SIZE_CLASS      15322 non-null  category
dtypes: category(1), datetime64[ns](2), float64(5), object(5)
memory usage: 1.4+ MB

In [67]:
fire_df_ready2 = fire_df_ready.copy()
fire_df_ready2.tail()

,GLOBALID,FIRENAME,FIREYEAR,STATCAUSE,TOTALACRES,LATITUDE,LONGITUDE,DISCOVERY_DATE,FIREOUT_DATE,MONTH_NAME,MONTH_NUMBER,DECADE,SIZE_CLASS
15317,{1E849B3F-0646-4C2B-AC08-7BA7B87D8CF5},3-9,2023.0,Other Natural Causes,2840.0,40.638167,-123.586500,2023-08-16,NaT,August,8.0,2020s,Class F
15318,{427232AC-EE12-462A-8C46-21A66CD48F6E},BOREL,1996.0,Undetermined,2650.0,35.578333,-118.556667,1996-08-01,NaT,August,8.0,1990s,Class F
15319,{9B2B0CA4-B0B0-4A33-958F-4E3BCF1081C0},GLEN,2006.0,Undetermined,120.0,36.138056,-120.158889,2006-10-25,NaT,October,10.0,2000s,Class D
15320,{6AFAF914-9E6F-41F2-8687-26891375AE31},BRIDGE,2002.0,Undetermined,200.0,37.181081,-118.262311,2002-03-09,NaT,March,3.0,2000s,Class D
15321,{4BCBFB26-835E-4620-A4B4-0182BB41C5A3},DIXIE,2021.0,Undetermined,963309.0,39.876000,-121.378833,2021-07-14,NaT,July,7.0,2020s,Class K

In [68]:
fire_df_ready2['FIREYEAR'] = fire_df_ready2['FIREYEAR'].astype(int).astype(str)
fire_df_ready2.tail()

,GLOBALID,FIRENAME,FIREYEAR,STATCAUSE,TOTALACRES,LATITUDE,LONGITUDE,DISCOVERY_DATE,FIREOUT_DATE,MONTH_NAME,MONTH_NUMBER,DECADE,SIZE_CLASS
15317,{1E849B3F-0646-4C2B-AC08-7BA7B87D8CF5},3-9,2023,Other Natural Causes,2840.0,40.638167,-123.586500,2023-08-16,NaT,August,8.0,2020s,Class F
15318,{427232AC-EE12-462A-8C46-21A66CD48F6E},BOREL,1996,Undetermined,2650.0,35.578333,-118.556667,1996-08-01,NaT,August,8.0,1990s,Class F
15319,{9B2B0CA4-B0B0-4A33-958F-4E3BCF1081C0},GLEN,2006,Undetermined,120.0,36.138056,-120.158889,2006-10-25,NaT,October,10.0,2000s,Class D
15320,{6AFAF914-9E6F-41F2-8687-26891375AE31},BRIDGE,2002,Undetermined,200.0,37.181081,-118.262311,2002-03-09,NaT,March,3.0,2000s,Class D
15321,{4BCBFB26-835E-4620-A4B4-0182BB41C5A3},DIXIE,2021,Undetermined,963309.0,39.876000,-121.378833,2021-07-14,NaT,July,7.0,2020s,Class K

In [76]:
len(fire_df_ready2["GLOBALID"].iloc[15050])

38

In [78]:
fire_df_ready2["GLOBALID"].str.len().max()

38.0

In [77]:
fire_df_ready2["FIRENAME"].str.len().max()

30.0

In [79]:
fire_df_ready2["STATCAUSE"].str.len().max()

20

In [69]:
# Save the DataFrame to a CSV file. 
fire_df_ready2.to_csv("fire_ready_data2.csv", index=False, encoding="ISO-8859-1")

In [80]:
fire_df_ready3 = fire_df_ready2.copy()

In [82]:
fire_df_ready3 = fire_df_ready3.drop(fire_df_ready3[fire_df_ready3['GLOBALID'] == '{C100B6DD-6A56-4093-895A-04D44B9EB126}'].index)

In [83]:
fire_df_ready3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15321 entries, 0 to 15321
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GLOBALID        14206 non-null  object
 1   FIRENAME        14718 non-null  object
 2   FIREYEAR        15321 non-null  object
 3   STATCAUSE       15321 non-null  object
 4   TOTALACRES      15321 non-null  float64
 5   LATITUDE        15321 non-null  float64
 6   LONGITUDE       15321 non-null  float64
 7   DISCOVERY_DATE  13853 non-null  datetime64[ns]
 8   FIREOUT_DATE    5583 non-null   datetime64[ns]
 9   MONTH_NAME      13853 non-null  object
 10  MONTH_NUMBER    13853 non-null  float64
 11  DECADE          15321 non-null  object
 12  SIZE_CLASS      15321 non-null  category
dtypes: category(1), datetime64[ns](2), float64(4), object(6)
memory usage: 1.5+ MB

In [84]:
fire_df_ready3.to_csv("fire_ready_data3.csv", index=False, encoding="ISO-8859-1")